@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background: linear-gradient(90deg, #000, #000 50%, #60cd55 50%);
  background-size: 80px 80px;
  animation: matrix 10s linear infinite;
  font-family: 'VT323', monospace;
  /* Rest of the CSS code */
}

@keyframes matrix {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px -80px;
  }
}

.card {
  max-width: 800px;
  background-color: #000;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
  color: #60cd55;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #60cd55;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #fff;
  margin-left: 2rem;
}

.repo {
  text-decoration: none;
  color: #60cd55;
  background-color: #fff;
}
